.hero {
  background-color: hsl(0deg, 0%, 98%);
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}
@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center 60%;
  }
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    min-height: 41rem;
    background-image: none;
  }
}
@media (min-width: 64em) {
  .hero__image::before {
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
    content: "";
    height: 100%;
    position: absolute;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
  }
}
.hero__image::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/images/image-mockups.png");
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}
@media (min-width: 64em) {
  .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 0.825rem;
  color: hsl(233deg, 8%, 62%);
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}
body.noscroll {
  overflow: hidden;
}
@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  line-height: 1.15;
}

h1 {
  font-size: 40px;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
}
@media (min-width: 64em) {
  h2 {
    font-size: 40px;
    margin-bottom: 34px;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

button,
.button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  font-size: 0.825rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}
button::before,
.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
button:hover::before,
.button:hover::before {
  opacity: 1;
}

.container {
  max-width: 69.375rem;
  margin: auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--paddingx {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}
.header nav {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}
.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: hsl(233deg, 26%, 24%);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle :not(:last-child) {
  margin-bottom: 5px;
}
.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(0deg, 0%, 100%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: hsl(233deg, 26%, 24%);
  text-align: center;
}
.header__links a {
  position: relative;
  font-size: 0.825rem;
  color: hsl(233deg, 8%, 62%);
  transition: opacity 200ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 30px;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  left: 0;
  right: 0;
  bottom: -30px;
}
.header__links a:hover {
  color: hsl(233deg, 26%, 24%);
}
.header__links a:hover::before {
  opacity: 1;
}

.feature {
  background-color: hsl(220deg, 16%, 96%);
  text-align: center;
}
@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}
.feature__intro {
  margin-bottom: 3.65rem;
}
@media (min-width: 64em) {
  .feature__intro {
    max-width: 60%;
  }
}
@media (min-width: 40em) {
  .feature__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.feature__item {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .feature__item {
    flex: 1 0 50%;
  }
}
@media (min-width: 64em) {
  .feature__item {
    flex: 1;
  }
}
.feature__icon {
  margin-bottom: 24px;
}
@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 40px;
  }
}
.feature__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.15;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 16px;
}
@media (min-width: 64em) {
  .feature__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.feature__description {
  font-size: 14px;
  line-height: 1.5;
}

.articles {
  background-color: hsl(0deg, 0%, 98%);
}

.article__intro {
  text-align: center;
}
@media (min-width: 40em) {
  .article__intro {
    text-align: left;
  }
}
.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.article__item {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0.3125rem;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}
.article__item:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}
.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: hsl(233deg, 8%, 62%);
}
@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem, 1.5625rem;
  }
}
.article__author {
  font-size: 10px;
  margin-bottom: 0.75rem;
}
.article__title {
  font-size: 17px;
  line-height: 1.2;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 0.5rem;
}
.article__description {
  font-size: 13px;
}

.footer {
  background-color: hsl(233deg, 26%, 24%);
  color: hsl(0deg, 0%, 100%);
  padding: 2.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, auto) 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    justify-items: start;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.footer a {
  color: hsl(0deg, 0%, 100%);
}
.footer__logo {
  display: inline-block;
}
@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}
@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    align-self: end;
    margin-right: 5rem;
  }
}
.footer__social a {
  display: inline-block;
  height: 1.25rem;
}
.footer__social a:not(:last-child) {
  margin-right: 1rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
@media (min-width: 64em) {
  .footer__links {
    justify-content: space-between;
    align-items: start;
  }
}
@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
    margin-right: 3rem;
  }
}
@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}
@media (max-width: 63.9375em) {
  .footer__links a {
    line-height: 2.25;
  }
}
.footer__links a:hover {
  color: hsl(136deg, 65%, 51%);
}
@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    justify-self: end;
  }
}
@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}
.footer__copyright {
  color: hsl(233deg, 8%, 62%);
  font-size: 15px;
}
@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    align-self: end;
    justify-self: end;
  }
}/*# sourceMappingURL=style.css.map */